<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rachel Chervin</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <li><a href="<%= about_path @conn, :index %>">About</a></li>
            <li><a href="<%= about_path @conn, :projects %>">Projects</a></li>
            <li><a href="<%= page_path @conn, :contact %>">Contact</a></li>
          </ul>
        </nav>
        <a href="<%= page_path @conn, :index %>"><span class="logo"></span></a>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <footer role="footer">
        <div class="row">
          <div class="col-xs-6">C Rachel Chervin 2016</div>
          <div class="col-xs-6 pull-right"><a href="mailto:lanaganinc@gmail.com">lanaganinc@gmail.com</a></div>
        </div>
      </footer>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
