.jumbotron
  %h1 Hello new friend.
  %h2 My name is Rachel and I am a web developer.
  %h3 I specialize in e-commerce sites and personal pages for 
  %h3 My favorite languages to code in are Ruby, Rails, Elixir and Phoenix, but I also have experience with html/css, Javascript, and SQL.
  %h5 (whew, what a mouthful)
