.jumbotron
  .row.info
    .col-sm-4.col-xs-12
      = img_tag("/images/rails.png", class: 'img')
    .col-sm-8.col-xs-12
      %br
      %p My name is Rachel and I am a self-taught web designer and developer. I started learning to code on the weekends with Codecademy Labs and was fortunate enough to jump from there directly into the field of web development.
      %p Since then, I have worked full-time for an entertainment start-up as a Ruby on Rails developer. I worked with HTML/CSS, front-end design, Postgres and SQL, in addition to continued research and learning.
      %p I also enjoy freelance work for portfolio pages because I like helping people represent themselves online in a creative, positive way. In my spare time I am a tutor for Codecademy Pro, helping to train the next generation of developers.